<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
    <style>

    </style>
</head>
<body>
    <div class="container">
        <h1>Search for your favorite Brewery right now!</h1>
        <div class="text-center">
            <h3>Choose your option</h3>
            <a href="{{url_for('search_by_query')}}" class="btn btn-success">Search by query</a>
            <a href="{{url_for('search_by_filters')}}" class="btn btn-warning">Search by filters</a>
            <a href="{{url_for('show_random')}}" class="btn btn-danger">Random Brewery</a>
        </div>
    </div>
</body>
</html>